:root {
  --bg-dark: #1f2937;
  --bg-light: rgb(13, 81, 206);
  --text-primary: white;
  --text-secondary: rgb(136, 131, 131);
  --heading: 5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  padding: 0 20rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
  }
  .logo {
    color: var(--text-primary);
    font-size: 2rem;
    font-weight: 800;
  }
  .links ul {
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
  }
  .links a {
    color: var(--text-secondary);
    text-decoration: none;
  }
  main {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    /* padding: 0 20rem; */
  }
  .text h1 {
    color: var(--text-primary);
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 900;
  }
  .text p {
    color: var(--text-secondary);
    font-size: 2rem;
    padding: 2rem 0;
  }
  .text button {
    padding: 0.75rem 1.25rem;
    background-color: var(--bg-light);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
  }
}

#information {
  padding: 10rem 30rem;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: center;

  .heading {
    font-size: var(--heading);
  }
  .info-container {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .info .image {
    /* height: 325px;
    width: 325px; */
    border-radius: 10px;
    border: 2px solid var(--bg-light);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info img {
    height: 400;
    width: 400;
  }
  .info .text {
    font-size: 2rem;
    text-align: center;
  }
}
#testimonial {
  padding: 10rem 30rem;
  background-color: rgb(235, 231, 231);
  color: var(--text-secondary);
  display: flex;
  flex-direction: column;

  .testimony {
    font-size: 2.5rem;
  }
  .testifier {
    font-size: 1.5rem;
    align-self: flex-end;
  }
}
#call-to-action {
  padding: 5rem 30rem;
  .wrapper {
    background-color: var(--bg-light);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 6rem;
    border-radius: 5px;
  }
  .content {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .wrapper .heading {
    font-size: 2.5rem;
    color: white;
  }
  .wrapper .text {
    font-size: 1.5rem;
    color: rgb(221, 216, 216);
  }
  button {
    background-color: inherit;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
}
footer {
  background: #1f2937;
  color: var(--text-secondary);
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
